div#Etatcivil {
	width:600px;
	height:500px;
	background-color:#cc1212;
    }
    div#contenu {
        width:600px;
        height:400px;
        }
    	
			div {
                text-align:center;
                }